#texto-home {
    position: relative; left: 20px; top: 17px;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.cabecalho-principal {
    background-color: #ececec; 
    border-bottom: 5px solid #bbbbbb; 
    padding: 1px 0; 
}

.menu ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    display: flex;         
    justify-content: center; 
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none; 
    color: #000000;        
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px; 
}

.menu a:hover {
    color: #3ccde7; 
    border-bottom: 2px solid #3ccde7; 
}